body {
  background: #ffffff;
  font-family: "TT Lakes Compressed Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

.page {
  width: 100%;
  width: 768px;
  height: 1024px;
}

@font-face {
  font-family: "TT Lakes Compressed Regular";
  src: url("fonts/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Compressed Medium";
  src: url("fonts/TTLakes-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Bold";
  src: url("fonts/TTLakes-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.block {
  width: 320px;
  height: 1024px;
  left: 0;
  background: #ffffff;
  box-shadow: 16px 0px 52px 0px #0e185033, -2px 0px 4px 0px #454f7e05;
  position: absolute;
}

header {
  margin-bottom: 35px;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 97px;
  height: 51px;
  margin-left: 90px;
}

.header__back-button {
  position: absolute;
  background: url("icons/burger.svg");
  height: 40px;
  width: 40px;
  border: none;
  left: 24px;
}

.header__search-button {
  position: absolute;
  background: url("icons/search.svg");
  height: 40px;
  width: 40px;
  border: none;
  left: 256px;
}

button:hover,
button:focus {
  transition-duration: 3s;
  opacity: 0.3;
}

aside {
  margin-bottom: 60px;
}

.services {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

.services-link {
  padding-bottom: 30px;
  padding-left: 24px;
  font-family: "TT Lakes Compressed Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  color: #1b1c21;
}

.services-link:focus,
.services-link:hover {
  color: #7e7e82;
  position: relative;
}

.services-link:focus::before,
.services-link:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 4px;
  height: 32px;
  background-color: #41f6d7;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

footer {
  margin-top: 260px;
}

.footer {
  height: 80px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts__chat-copy-button {
  position: absolute;
  background: url("icons/chat copy.svg");
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  border: none;
  left: 24px;
}

.contacts__chat-button {
  position: absolute;
  background: url("icons/chat.svg");
  height: 40px;
  width: 40px;
  border: none;
  left: 84px;
}

.contacts__profile-button {
  position: absolute;
  background: url("icons/profile.svg");
  height: 40px;
  width: 40px;
  border: none;
  left: 144px;
}

.mail {
  font-family: "TT Lakes Compressed Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-left: 24px;
  padding-top: 15px;
  text-decoration: none;
  color: #1b1c21;
}

.tel {
  font-family: "TT Lakes Bold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  margin-left: 24px;
  margin-bottom: 24px;
  text-decoration: none;
  color: #1b1c21;
}

.lang a {
  color: #1b1c21;
  text-decoration: none;
  font-family: "TT Lakes Compressed Medium", sans-serif;
  font-size: 16px;
  text-align: left;
}

.lang__ru {
  margin-left: 24px;
}

.lang a:focus,
.lang a:hover {
  color: #7e7e82;
}
